<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Atoll uses Apple Music to fetch animated artwork for the lock screen wallpaper.</string>
	<key>NSAudioCaptureUsageDescription</key>
	<string>Atoll uses system audio when you choose to include sound in a screen recording, and for the real-time music waveform visualizer.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Atoll uses the microphone only when you enable microphone audio for a screen recording.</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Atoll needs access to screen content when you create screenshots or screen recordings.</string>
	<key>SUEnableDownloaderService</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/miseon-stack/Atoll-XinTiao/main/Updates/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>3n7A+IQtyB5hsiTwwP33gNOd0mUmo7g+pTURXCxvJDE=</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeDescription</key>
			<string>快捷启动配置</string>
			<key>UTTypeIdentifier</key>
			<string>io.github.miseon-stack.shortcutlauncher.configuration</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>shortcutlauncherconfig</string>
				</array>
				<key>public.mime-type</key>
				<string>application/json</string>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict/>
	</array>
</dict>
</plist>
